[Unit]
Description=Run Centra Threat Intel Sync every 2 hours

[Timer]
OnCalendar=*-*-* 00/2:00:00
Persistent=true
RandomizedDelaySec=180

[Install]
WantedBy=timers.target
